.crear-producto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .crear-producto-container > h2 {
    font-size: 30px;
    margin: 40px 20px 10px 20px;
    text-align: center;
  }
  
  .form-container-subir {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
